{% extends "base.html" %}
{% load static %}
{% block title %}
    Eco farm
{% endblock %}
{% block content %}
<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<img src="{% static 'img/logo.png' %}" alt="">
			</figure>
			<h1 class="animated fadeInDown delay-07s">Welcome To Eco Farm</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>Eco Farm is a young, very promising and very successful project, which has absorbed all the best in the field, sales, distribution and delivery of food.</li>
			</ul>
		</div>
	</header>
{% endblock %}