{% extends 'base.html' %}
{% load static %}
{% block title %}
Sign in
{% endblock %}

{% block content %}
    <section class="business-talking">
		<!--business-talking-start-->
		<div class="container">
			<h2>Let’s sign up.</h2>
		</div>
    <div class="container">
        <section class="main-section contact" id="contact">
			<div class="row">
                <div class=" wow fadeInUp delay-05s">
                    <div class="form">
						<form action="" method="post" role="form" class="">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <div class="text-center"><button type="submit" class="input-btn">Sign up</button></div>
                        </form>
					</div>
				</div>
			</div>
        </section>
     </div>
    </section>
{% endblock %}